body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

main {
    padding: 20px;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[name="etat"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Adjust the width as needed */
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button a {
    text-decoration: none;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

thead {
    background-color: #3498db;
    color: #fff;
}

td, th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease;
}

tbody a:hover {
    color: #1e6ea4;
}
